#root {
  max-width: 1280px;
}

.trans-4{
  transition: 0.4s;
}

.pointer:hover{
  cursor: pointer;
  transition: 0.4s;
}

.pointer:hover h2{
  color: rgba(0, 0, 0, 0.7);
  transition: 0.4s;
}

.Logo{
  width: 200px;
  height: 80px;
  background-color: #c3c3c3;
}

.pd-x-container{
  padding: 0 80px;
}

.pd-y-container{
  padding-top: 100px;
}

.title-btm{
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.catergory{
  width: 80px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.fw-b{
  font-weight: bold;
}

.fw{
  width: 100%;
}

.fh{
  height: 100%;
}

.w-auto{
  width: auto;
}

.pd-10{
  padding: 10px;
}

.pd-30{
  padding: 30px;
}

.pd-w-10{
  padding: 0 10px;
}

.pd-w-20{
  padding: 0 20px;
}

.pd-w-30{
  padding: 0 30px;
}

.pd-b-title{
  padding-bottom: 10px;
}

.mg-r-20{
  margin-right: 20px;
}

.mg-r-30{
  margin-right: 30px;
}

.mg-b-10{
  margin-bottom: 10px;
}

.mg-subtitle{
  margin-bottom: 30px;
}

.mg-list{
  margin-bottom: 10px;
}

.bd-bm-unActive{
  border-bottom: none;
}

.bd-bt-active{
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.dib{
  display: inline-block;
}

.df{
  display: flex;
}

.fd-r{
  flex-direction: row;
}

.fd-c{
  flex-direction: column;
}

.jc-sb{
  justify-content: space-between;
}

.jc-sa{
  justify-content: space-around;
}

.aln-itm-c{
  align-items: center;
}