#root {
  max-width: 1960px;
  margin: 120px 0 80px;
  width: 100%;
}

.trans-2{
  transition: 0.2s;
}

.pointer:hover{
  cursor: pointer;
  transition: 0.4s;
}

.pointer:hover h2{
  color: rgba(0, 0, 0, 0.7);
  transition: 0.4s;
}

/* Direct Style Name */
.OpeningLogo{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 45;
}

.LogoTransition{
  position: absolute;
}

.mask{
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 99%;
  position: absolute;
}

.preface{
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.catergory{
  width: 80px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.pd-x-container{
  padding: 0 80px;
}

.pd-y-container{
  padding-top: 100px;
}

.title-btm{
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.period-img{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}

.NavLink{
  display: inline;
  padding: 10px 30px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  color: black;
  font-weight: 400;
}

.NavLink:hover{
  transform: translateY(-5%);
}

.artW-sub{
  position: absolute;
  top: 100%;
  left: -50%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.periods-sub{
  position: absolute;
  top: -1px;
  left: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 15;
}

.periodTitle{
  font-size: 20px;
  font-weight: 900;
  font-style: italic;
}

.menuBar{
  z-index: 100;
}

/* .menuActive{

} */


/* Position */
.ps-rl{
  position: relative;
}

.ps-ab{
  position: absolute;
}

/* Font, Letter */
.lt-sc{
  letter-spacing: 2px;
}

.fw-b{
  font-weight: bold;
}

/* Width, Height */
.fw{
  width: 100%;
}

.fh{
  height: 100%;
}

.f-vh{
  height: 100vh;
}

.w-auto{
  width: auto;
}

/* Padding */
.pd-10{
  padding: 10px;
}

.pd-20{
  padding: 20px;
}

.pd-30{
  padding: 30px;
}

.pd-50{
  padding: 50px;
}

.pd-l-10{
  padding-left: 10px;
}

.pd-l-20{
  padding-left: 20px;
}

.pd-w-10{
  padding: 0 10px;
}

.pd-w-20{
  padding: 0 20px;
}

.pd-w-30{
  padding: 0 30px;
}

.pd-y-10{
  padding: 10px 0;
}

.pd-b-title{
  padding-bottom: 10px;
}

.pd-t-10{
  padding-top: 10px;
}

.pd-t-20{
  padding-top: 20px;
}

.pd-b-10{
  padding-bottom: 10px;
}

.pd-b-20{
  padding-bottom: 20px;
}

/* Margin */

.mg-r-50{
  margin-right: 50px;
}

.mg-r-20{
  margin-right: 20px;
}

.mg-r-30{
  margin-right: 30px;
}

.mg-r-10{
  margin-right: 10px;
}

.mg-b-5{
  margin-bottom: 5px;
}

.mg-b-10{
  margin-bottom: 10px;
}

.mg-b-20{
  margin-bottom: 20px;
}

.mg-b-30{
  margin-bottom: 30px;
}

.mg-b-40{
  margin-bottom: 40px;
}

.mg-b-50{
  margin-bottom: 50px;
}

.mg-b-300{
  margin-bottom: 300px;
}

.mg-b-lg{
  margin-bottom: 80px;
}

.mg-t-10{
  margin-top: 10px;
}

.mg-t-20{
  margin-top: 20px;
}

.mg-t-30{
  margin-top: 30px;
}

.mg-subtitle{
  margin-bottom: 30px;
}

.mg-list{
  margin-bottom: 10px;
}

.mg-b-box{
  margin-bottom: 50px;
}

.mg-ct{
  margin: 0 ;
}

/* Border */
.bd-bm-unActive{
  border-bottom: none;
}

.bd-bt-active{
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.bd-b{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.bd-t{
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

/* .bd-r{
  border-radius: 6px;
}

.bd-r-sm{
  border-radius: 6px;
} */

/* Display */
.dib{
  display: inline-block;
}

.db{
  display: block;
}

.di{
  display: inline;
}

.df{
  display: flex;
}

.dg{
  display: grid;
}

.dn{
  display: none;
}

/* Flex */
.fd-r{
  flex-direction: row;
}

.fd-c{
  flex-direction: column;
}

.fl-wp{
  flex-wrap: wrap;
}

/* Justify-Content */
.jc-c{
  justify-content: center;
}

.jc-sb{
  justify-content: space-between;
}

.jc-sa{
  justify-content: space-around;
}

.jc-fe{
  justify-content: flex-end;
}

/* Align-items */
.aln-itm-c{
  align-items: center;
}

.aln-itm-fe{
  align-items: flex-end;
}

.txt-aln-c{
  text-align: center;
}

/* Box-shadow */
.bx-sd-sm{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}

/* Overflow */
.of-x-scl{
  overflow-x: scroll;
}

/* Colors */
.clr-black{
  color: rgb(0, 0, 0);
}

.msk{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width:1024px){
  .Logo{
    width: 232px;
    height: 80px;
  }
}

@media (max-width:768px){
  .pd-x-container{
    padding: 0 40px;
  }

  .menuMobile{
    position: absolute;
    top: 100%;
    right: -10%;
    padding-top: 10px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

@media (max-width:425px){
  .pd-x-container{
    padding: 0 20px;
  }

  /* .OpeningBG{
    width: 100vw;
    height: 30vh;
    top: 100px;
    background-image: url("https://live.staticflickr.com/65535/54315706478_7e63925e1b_w.jpg");
    background-size: contain;
  } */

  /* .artW-sub{
    position: absolute;
    top: 100%;
    left: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
  } */
}

@media (max-width:375px){

}