.headerContainer{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--grey-1);
}

.menuContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
}

.menuItemContainer {
    position: relative;
}

.LogoContainer {
    width: 25%;
    display: flex;
    align-items: center;
}

.Logo {
}

.Logo img {
    width: 50px;
    height: 60%;
    margin-right: 20px;
}

.LogoTxt{
}

.LogoTxt h3{
    font-size: 18px;
    display: block;
    width: fit-content;
}

.menuItem {
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    color: var(--grey-1);
    position: relative;
}

.menuItem.active {
    color: var(--grey-active);
}

.subMenu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    background-color: #fff;
    padding: 0 10px;
    border: 1px solid var(--grey-1);
    display: none; /* 預設隱藏 */
}

.menuItem.active .subMenu {
    display: block; /* 點擊後顯示 */
}

.subMenuItem {
    margin-top: 15px;
    border-bottom: 1px solid var(--grey-1);
}

.subMenuLink {
    display: block;
    padding: 10px;
}

.lngEarth {
    width: 20px;
    position: relative;
}

.lngSub {
    position: absolute;
    top: 0px;
    left: 0;
    width: 120px;
}

.lngSubItem {
    padding: 10px;
    cursor: pointer;
}

.hamburgerButton {
    position: absolute;
    top: 30px;
    right: 60px;
    width: 20px;
    font-size: 60px;
    height: 100px;
    display: none;
    font-size: 24px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    z-index: 55;
}

@media (max-width: 1024px) {

    .headerContainer{
        position: absolute;
        height: 100vh;
    }
    
    header{
        position: absolute;
        overflow-y: auto;
        top: 0;
        left: auto;
        right: 0;
        width: 400px;
        height: 120vh;
        align-items: flex-start;
        padding: 10px 20px 300px;
        background-color: var(--grey-3);
        /* display: none; */
        transform: translateX(100%); /* 初始位置：隱藏在右側 */
        transition: transform .5s ease; /* 添加平滑動畫效果 */
    }

    header.open{
        display: block;
        transform: translateX(0); /* 打開時：移動到可見範圍 */
    }

    header.close {
        transform: translateX(100%); /* 關閉時：移回右側 */
    }

    .LogoContainer {
        justify-content: space-between;
        width: 80%;
        height: 100px;
    }

    .Logo{
        width: 100%;
    }

    .Logo img{
        width: 30px;
        height: auto;
    }
    
    .LogoTxt{
    }

    .LogoTxt h3{
        font-size: 14px;
        color: #fff;
    }

    .menuContainer {
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 140px;
        left: 0;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .menuContainer.open {
        display: flex;
    }

    .menuItemContainer {
        width: 100%;
    }
    
    .menuItem {
        border-bottom: 1px solid var(--white);
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        color: #fff;
    }
    
    .subMenu {
        position: relative;
        top: 0px;
        width: 100%;
        display: none;
        border: none;
        background-color: transparent;
    }
    
    .subMenu a{
        color: #fff;
    }

    .menuItem.active .subMenu {
        display: block;
    }

    .subMenuItem {
        margin-top: 15px;
        border-bottom: 1px solid var(--grey-1);
    }

    .hamburgerButton {
        display: block;
        color: #fff;
    }
} 

@media (max-width: 768px) {
    header{
        top: 0;
        left: auto;
        right: 0px;
        width: 350px;
    }
} 

@media (max-width: 425px) {
    .headerContainer{
        position: fixed;
        height: 100vh;
    }

    header{
        top: 0;
        left: 0;
        width: 100%;
        height: 160vh;
        /* padding-bottom: 300px; */
    }

    .LogoContainer {
        width: 80%;
    }

    .Logo{
        width: 100%;
    }
}
